body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

header{
    padding: 30px;
    background-color: #8B5DEE;
    text-align: center;
    color: white;
}

.searches{
    padding: 20px;
    text-align: center;
    background-color: #fffafe;
}

h5 {
    padding-right: 40em;
}

h2{
    padding-right: 23em;
}

hr{
    margin-left: 25%;
    width: 60%;
}

input{
    width: 45em;
    height: 40px;
    padding-right: 20px;
    padding-left: 20px;
    outline-color: #8B5DEE;
    border-radius: 5px;
}

.btn{
    background-color: #8B5DEE;
    width: 75px ;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-style: inset;
    border: none;
}

#result {
    margin-left: 25%;
    
}

#result p {
    margin-left: 0%;
    min-height: 30vh;
    margin-bottom: 30px;
}


/*footer {
    background-color: #8B5DEE;
    color: white;
    padding: 20px;
    text-align: center;
}*/
